body {
  max-width:800px;
  margin:1em;
  font-family:"Courier New", Courier, monospace;
  line-height:1.4em;
  font-size:1.2em;
}
a {
  color:#0061b0;
  text-decoration:none;
}
.pt-previous,
.pt-next {
  font-size:2.5em;
  float:right;
  margin-left:.5em;
}
.pause-btn,
.play-btn {
  display:inline-block;
}
.pt-play-pause {
  font-size:1.7em;
  letter-spacing:-5px;
  position:relative;
  top:2px;
}
/* Hide/Show */
.pause-btn,
.pt-play-pause.pt-playing .play-btn {
  display:none;
} 
.pt-play-pause.pt-playing .pause-btn {
  display:inline-block;
}
.pause-btn {
  position:relative;
  left:-4px;
  top:-3px;
  letter-spacing:-.005em;
}
.pt-link.pt-loading { opacity:.2;}
.pt-link.pt-playing { opacity: 1; font-weight:bold;}
.pt-link.pt-paused  { opacity:.5; font-weight:bold;}
.pt-link.pt-cue { color:red;}

.pt-link:before {
  content: '▶ ';
}
.pt-link.pt-playing:before {
  content: '❚❚ ';
}
.pt-scrubber {
    margin-bottom: .5em;
    margin-top: 1em;
    position: relative;
}
.pt-scrubber .pt-statusbar {
  height: 0.5em;
  position: relative;
  border-right:solid 1px #CCC;
  border-bottom:solid 1px #CCC;
  border-top:solid 1px #DCDCDC;
  border-left:solid 1px #DCDCDC;
  background:#F9F9F9;
}
.pt-scrubber.dragging .pt-statusbar {
  cursor: grabbing;
  cursor:-webkit-grabbing;
}
.pt-scrubber .pt-statusbar .pt-position,
.pt-scrubber .pt-statusbar .pt-loading {
  position: absolute;    
  height: 100%;
  left: 0;
  top: 0;
  width:0;
}
.pt-scrubber .pt-statusbar .pt-position {
  background-color: #666666;
  position:relative;
}
.pt-scrubber .pt-statusbar .pt-loading {
  background-color:#F1F1F1;
}
.pt-scrubber .pt-statusbar .pt-handle {
  position:absolute;
  width:1.5em;
  height:.85em;
  right:-1.5em; /* Half of width */
  top:-.24em; /* Slightly less than half of height*/
  background:#FDFDFD;
  border:solid 1px #999;
  transition:  all .1s;
  cursor: pointer;
}
.pt-time {
  float:right;
  font-size:.7em;
}
.links {
  clear:both;
  margin:0;
  padding:0;
  list-style-type:none;
}
.links a {
  display:block;
}
.links a:hover {
  background:#FCFCFC;
}

.pt-play-pause.pt-buffering,
.pt-link.pt-buffering {
  -webkit-animation: buffering 1.4s infinite;
  animation:  buffering 1.4s infinite;
}

/* Utility class to hide elements if no links found on page load */
.pt-hide {
  display:none;
}

/* Buffering animation */
@-webkit-keyframes buffering {
  0%   { opacity:1; }
  50%   { opacity:.5; }
  100% { opacity:1; }
}

@keyframes buffering {
  0%   { opacity:1; }
  50% { opacity:.5; }
  100% { opacity:1; }
}
